@import "tailwindcss";

@theme {
  --color-brand: #a855f7;
  --color-layout: #3b82f6;
  --color-node-text: #84cc16;
  --color-node-image: #9ca3af;
}

@layer base {
  * {
    border-color: theme("colors.gray.800");
  }
}

@layer utilities {
  .edge-text { --edge-color: #84cc16; }
  .edge-image { --edge-color: #9ca3af; }
  .edge-brand { --edge-color: #a855f7; }
  .edge-layout { --edge-color: #3b82f6; }
}
